## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<style>
  .wrapper-footer {
    background-color: #61514e;
    width: 100%;
    padding: 0;
  }

  body.view-in-course .wrapper-footer {
    padding-right: 0;
    padding-left: 0;
  }

  #footer-openedx ul a {
    font-family: "Open Sans";
  }

  .wrapper-footer footer#footer-openedx {
    max-width: none;
  }

  .wrapper-footer footer#footer-openedx .copyright {
    color: #969696;
    text-align: left;
    font-size: 0.6875em;
  }

  .wrapper-footer footer#footer-openedx .colophon {
    width: 85% !important;
    margin-right: 0 !important;
  }

  .wrapper-footer footer#footer-openedx ul a {
    color: #969696;
  }

  .wrapper-footer footer#footer-openedx a:hover {
    border-bottom: .5px dotted #f1f1f1;
  }

  .wrapper-footer footer#footer-openedx .nav-legal li {
    color: #969696;
    display: inline-block;
    text-align: left;
    font-size: 0.6875em;
  }
   

.footer-column {
  float: left;
  width: 33.33%;
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 150px;
  font-family: "Open Sans";
}
.footer-column img {
  width: 35%;
  /*margin-right: 5%;*/
  margin-left: 17px;
}

.banorte-logo {
  padding-left: 20px;
}

.footer-row {
  color: #767676;
  background-color: #F0F0F0;
  width: 100%;
}

.footer-row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .footer-column {
        width: 100%;
    }
}

.footer-footer {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-column h6 {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #414141;
    color: #414141;
    height: 24px;
    font-family: "Open Sans";
    text-align: left;
}
.no-border {
  border-bottom: none !important;
}


.footer-column ul {
  text-align: left;
  font-family: "Open Sans";
}
.footer-column li {
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 200%;
  margin-left: -25px;
}

.fa {
  margin-right: 10px;
}

."Open Sans" {
  font-family: "Open Sans" !important;
}

#open-edx-footer-logo {
  position: relative;
  top: 0;
  float: right;
  width: 10%;
  margin: 0;
  padding: 0;
}

#open-edx-footer-logo a:hover {
  border-bottom: none !important;
}

.no-right-margin {
  margin-right: 0 !important;
}

.img1{
  width: 36% !important;
}

</style>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    % if bidi:
      dir=${bidi}
    % endif
  >

    <div class="footer-row">
      <div class="footer-column">
        <!--<h6 class="no-border"></h6>-->
        <a href='http://atentamente.mx/' target='_blank'>
          <img src="${static.url("images/logo-atentamente.png")}" alt="Atentamente logo" class="img1" />
        </a>
        <a href='https://www.fundacionbanorte.com' target='_blank'>
          <img class="banorte-logo" src="${static.url("images/logo-banorte-dark.png")}" alt="Banorte logo" />
        </a>
      </div>
      <div class="footer-column">
        <h6>ENLACES</h6>
        <ul>
          <li><a class=""Open Sans"" href='http://atentamente.mx/' target='_blank'>AtentaMente.mx</a></li>
          <li><a class=""Open Sans"" href='http://www.lidereseducativosbanorte.com/' target='_blank'>Lideres Educativos Banorte.com</a></li>
          <li><a class=""Open Sans"" href='http://www.fundacionbanorte.com' target='_blank'>Fundación Banorte.com</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h6>CONTACTO</h6>
        <ul>
          <li class=""Open Sans""><i class="fa fa-home"></i>Tamaulipas #236, Interior 502, Col. Hipódromo</li>
          <li class=""Open Sans""><i class="fa fa-globe"></i>CDMX, México</li>
          <li class=""Open Sans""><i class="fa fa-envelope-o"></i>educacion@atentamente.org.mx</li>
        </ul>
      </div>
    </div>

    <div class="footer-footer">
      <div class="colophon no-right-margin">
        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
            <li class="nav-legal-06"><a href='https://lawrencemcdaniel.com/' target="_blank">Créditos de sitio</a></li>
          </ul>
        </nav>
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
      </div>

      <div id="open-edx-footer-logo">
        <a href="${footer['openedx_link']['url']}">
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
        </a>
      </div>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
