<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<style>
  .container p {
    line-height: 1.4em !important;
  }
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Acerca de Atentamente</h1>

        <p>Somos una asociación civil que reúne a profesionistas de diversos campos para compartir técnicas de entrenamiento mental y socio-emocional sustentadas en la vanguardia de la investigación científica internacional, las cuales dotan a los individuos de las herramientas necesarias para cultivar la atención, la metacognición, la empatía, el balance emocional y el desarrollo de una mentalidad altruista, cualidades indispensables para asegurar una vida sana, equilibrada, exitosa y feliz.</p>

        <p>Para personas, grupos y organizaciones que buscan alcanzar metas, generar y sostener relaciones constructivas, tener una vida plena e incidir positivamente en su entorno.</p>

        <p>Ofrecemos programas para cultivar las habilidades que permiten a los individuos gestionar su bienestar desde el interior y desarrollarse de forma integral, alineando mente, corazón y conducta.</p>

        <p>Todos nuestros materiales se sustentan en investigación científica y una propuesta pedagógica adecuada a nuestros diferentes públicos.  Son impartidos por instructores calificados, con años de experiencia en entrenamiento mental y socioemocional, así como un modelo de acompañamiento presencial y/o digital que se ajusta a las necesidades de nuestros usuarios.</p>

        <p>En AtentaMente creemos que el desarrollo personal es el motor de la transformación social. Cambio yo, cambia todo.</p>

    </section>
</main>
