<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<style>
  .container p {
    line-height: 1.4em !important;
  }

  li {
    margin-bottom: 15px;
    line-height: 1.4em !important;
  }
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Código de honor</h1>

        <p>Los valores fundamentales que nos guían y encauzan nuestras decisiones son:</p>

        <ul>
          <li>
            <strong>Ayudamos a las personas.</strong><br />
            Tendemos la mano a los demás. Creemos que para mejorar a las organizaciones, comunidades y sociedad en general se parte de una transformación interior individual.
          </li>

          <li>
            <strong>Desarrollamos contenido con sustento científico y trabajamos de forma profesional.</strong><br />
            Compartimos conocimiento útil que ha sido validado y probado en distintos frentes y nos aseguramos de ofrecer productos y servicios de calidad mundial.
          </li>

          <li>
            <strong>Actuamos para ser autosustentables.</strong><br />
            Cada acción que tomamos nos encamina a ser una organización que se vale por sí misma, para permitirnos crecer y mantener continuidad en el tiempo.
          </li>

          <li>
            <strong>Nuestro comportamiento es un ejemplo.</strong><br />
            El entrenamiento mental es parte esencial de quienes somos. Nuestras acciones se alinean a lo que pensamos y sentimos. Nos comunicamos sin violencia y tratamos a los demás con consideración.
          </li>

          <li>
            <strong>Somos parte de una comunidad.</strong><br />
            Somos parte de algo más grande que nosotros y por ello entendemos la relevancia de la colaboración y el respeto hacia nosotros mismos, los demás y el medioambiente.
          </li>

          <li>
            <strong>Trabajamos en equipo y crecemos juntos.</strong><br />
            Somos una familia que se escucha con atención y que habla con asertividad. Aprendemos unos de otros y pensamos en el bien común. Compartimos los buenos tiempos y nos ayudamos a hacer más ligeros los difíciles.
          </li>

          <li>
            <strong>Ponemos nuestro talento al servicio de la organización.</strong><br />
            Nuestra diversidad nos hace fuertes. Compartimos nuestra experiencia, conocimientos, intereses y talentos con la organización y colaboramos de la forma en la que aportamos más.
          </li>

          <li>
            <strong>Nos conducimos con la mente y el corazón.</strong><br />
            Sabemos que una conducta cabal incluye una mente clara y un corazón cálido.  Tomamos decisiones con la mente y el corazón en equilibrio.
          </li>

          <li>
            <strong>Vivimos en equilibrio.</strong><br />
            Aplicamos lo que enseñamos. Buscamos mantener el balance entre las distintas áreas de nuestra vida, reconociendo que no se puede dar lo que no se tiene y por ello, el bienestar comienza con uno mismo.
          </li>

        </ul>
    </section>
</main>
