<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>
<style>
  .container p {
    line-height: 1.4em !important;
  }

  li {
    margin-bottom: 15px;
  }
</style>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Aviso de Privacidad</h1>

        <p>De conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares, Atentamente Consultores, Asociación Civil (en lo sucesivo, "AtentaMente"), con domicilio en Tamaulipas 236, Interior 502, Colonia Hipódromo, Delegación Cuauhtémoc, C.P. 06100, Ciudad de México, da a conocer este aviso de privacidad de datos personales.</p>

        <p>Para efectos de este aviso, se entenderá por "datos personales" aquella información relativa a una persona física identificable, que incluye nombre, fecha de nacimiento, dirección, correo electrónico, número de teléfono y otros datos sobre dicha persona.</p>

        <p>La actividad de la organización no tiene como finalidad la obtención de información de ninguna índole. La recopilación y eventual transmisión de datos personales constituye el medio para la prestación de los cursos, talleres, asesorías y consultoría para los que es contratada, para llevar a cabo investigación estadística y para cumplir las obligaciones legales derivadas de dicha actividad.</p>

        <p>Para AtentaMente, la privacidad y la seguridad de su información personal es un derecho muy importante por lo cual nos comprometemos a resguardar su información personal con los más altos estandares de seguridad legal, tecnológica y administrativa a nuestro alcance. Así mismo nos obliga a no vender, alquilar, compartir o divulgar su información personal a terceros con fines ilícitos o contrarios a los de su titular.</p>

        <p>De acuerdo a lo anterior, el presente "Aviso de Privacidad" se aplica a toda la información recopilada por la organización. En tal virtud, al momento de leer el presente "Aviso de Privacidad", usted otorga su consentimiento a AtentaMente para recopilar y utilizar sus datos personales para los fines expresados y los que más adelante se especifican.</p>

        <p>Los datos personales que recopilamos son, en general, datos personales de usted, recopilando única y exclusivamente los datos, pertinentes, correctos, actualizados y que se requirieren conocer para efectos de la organización y administración de nuestros cursos, conferencias, talleres y en general todos los datos necesarios para el cumplimiento de los fines y misión de la organización. Entre dichos se encuentran, de manera enunciativa y no limitativa, los siguientes:</p>

        <ol>
          <li>Empleados y Colaboradores. Información general del solicitante contenida en la solicitud de empleo de la organización, tal como nombre, dirección, teléfono, correo electrónico, edad, trabajos anteriores, escolaridad, número de seguridad social, número de Sistema de Ahorro para el Retiro, Clave Única de Registro de Población, Registro Federal de Contribuyentes, contactos en caso de emergencia.</li>
          <li>Participantes de los talleres, y padres o tutores de los mismos si son menores de edad. En general datos personales de Usted, recopilando única y exclusivamente los datos pertinentes, correctos, actualizados y necesarios para la impartición de los cursos y talleres contratados.</li>
          <li>Datos relativos a medios de pago y facturación. En AtentaMente no compartimos los datos personales con otras instituciones, proveedores, clientes, etc. Adicionalmente podemos llegar a utilizar imágenes, videos y testimoniales de los participantes para fines de comunicar experiencias exitosas o para difundir y promover la participación en futuros programas sólo con el consentimiento por escrito de la personas o de los padres o tutores en caso de ser menores de edad. En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, desde este momento usted nos puede comunicar lo anterior por escrito en nuestras oficinas o al correo electrónico educacion@atentamente.org.mx.</li>
        </ol>

        <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros. En caso de requerirse podremos extender constancias con sus datos personales. Adicionalmente, AtentaMente podrá transmitir sus datos personales si la ley o un proceso legal así lo exijan, ante las autoridades gubernamentales.</p>

        <p>Su información personal, está protegida de forma administrativa, técnica y física para evitar pérdidas, usos incorrectos o accesos no autorizados, publicaciones, modificaciones o destrucciones. Para que su información sea procesada de manera oportuna, exacta y completa, la organización hace su mejor esfuerzo para utilizar la tecnología más avanzada a su alcance y para definir y establecer buenas prácticas administrativas. El acceso a su información en las bases de datos está restringido a aquellas personas que específicamente la necesitan para cumplir con sus responsabilidades de trabajo.</p>

        <p>Podrá elegir la manera de ponerse en contacto con nosotros ya sea personalmente o de forma electrónica enviando un correo electrónico a la dirección electrónica educacion@atentamente.org.mx.</p>

        <p>En caso de que tengamos registrado algún dato erróneamente, usted podrá solicitar su corrección a la organización, acudiendo a cualesquiera de las áreas señalas anteriormente. Podrá pedir que cancelemos o demos de baja sus datos siempre y cuando: a) no se incumpla ninguna obligación de conservación de información establecida por las disposiciones legales aplicables, y b) no exista ninguna obligación pendiente de cubrir por alguna de las partes. En caso de que usted no tenga relación u obligación legal alguna con la organización y decida no contratar los servicios de esta institución, puede hacer uso de este derecho, no compartiendo dato alguno.</p>

        <p>Cualquier modificación al presente Aviso de Privacidad, será notificado a través de nuestra página web: <a href="http://atentamente.mx" target="_blank">atentamente.mx</a></p>

    </section>
</main>
